body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1F497D;
    background-color: #BFBFBF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    letter-spacing: 0.5em;
    word-spacing: 1.5em;
    text-align: center;
}

h2 {
    color: #632423;
    font-size: 18px;
    letter-spacing: 0.5em;
}

strong {
    font-style: italic;
    font-variant: small-caps;
}