/* Part 1 */

/* Select div element is a child other div */
div > *div {

}

/* Select last element a group of the brother element */
li:last-of-type() + li:last-of-type() {

}

/* Select par child of the li element */
li:nth-child(2n) {

}

/* Select impar child of the li element */
li:nth-child(2n+1) {

}

/* Select p element is child of the article */
article:nth-child(p) {

}

/* Select p element is within of article */
article p {

}

/* Select title main core of h1 and h3 */
h1, h3 {

}

/* Select ol is within of body */
body ol {

}

/* The ul element is child of body */
body > ul {

}

/* The a element is child of p */
p > a {

}

/* The div element is descendent of body */
body div {

}

/* The first child of body */
body:first-child {

}

/* The last child of ul */
ul:last-child {

}

/* The first child of ul */
ul:first-child {

}

/* The li element pars of ul */
ul li:nth-of-type(2n) {

}

/* The li element impars of ul */
ul li:nth-of-type(2n+1) {

}

/* The ul child in 3 position */
ul:nth-child(3) {

}

/* A parraf with platano ID */
p#platano {

}

/* A element with rojo class is first child */
*:first-child[class="rojo"] {

}

/* Select h2 within section */
section h2 {

}

/* Select second child of the section element */
section:nth-child(2) {

}

/* Select child pars of ol element */
ol:nth-child(2n) {

}

/* Select third of last li of a ul with undefined long */
ul *:last-of-type(3) {

}

/* Select p with green class and direct child div */
div > p[class="green"] {
    
}


/* Part 2 */

/* Select a element is child of div and has attribute class with big word */
div > a[class="grande"] {

}

/* The buttons is child of a section */
section:nth-child(button) {

}

/* The button is unique child */
button:only-child() {

}

/* The span is first child of p */
p > span:first-child(2) {

}

/* The input is continue to label and is child of a section */
section > label + input {

}

/* The button has as dad a div */
div > button {

}

/* The third of child by body */
body *:last-of-type(2) {

}

/* All label with attribute for="mascota" */
label[for="mascota"] {

}

/* All image element has a class clasec and within of any div element */
*div img.clasec {

}

/* All links within of parraf */
p a {

}

/* All element has the Curvado class */
.Curvado {

}

/* All a and ol element has Recto class */
*a.Recto, *ol.Recto {

}

/* All a element is within of any h2 is posicionated in any div element */
*div *h2 a {

}

/* All span child within of p and within a div */
div p span:nth-child() {

}

/* All p elements and all element with class aviso attribute is within div */
div p + *.aviso {

}

/* The em and a element is direct child of p element with sons id */
p#Sons > em, p#Sons a {

}

/* All a element contained in .basic */
a.basico {

}