/* select div element child's by other div */
div:nth-child(div) {

}

/* select last element of a group li elements */
li + li:last-child {

}

/* select child pars by li element */
li > *:nth-child(2n) {

}

/* select child impars by li element */
li > *:nth-child(2n+1) {

}

/* select p element is a child article element */
article:nth-of-type(p) {

}

/* select p element is a within of article */
article p {

}

/* select core name h1 and h3 element */
h1, h3 {

}

/* select ol element within of body */
body ol {

}

/* select ul element is child of the body */
body:nth-child(ul) {

}

/* select a element is child of the p */
p:nth-of-type(a) {

}

/* div element is a descendent of body */
body > div {

}

/* select first child of the body */
body > *:first-child {

}

/* select last child of the ul element */
ul > *:last-child {

}

/* select first child of the ul element */
ul > *:first-child {

}

/* select li pars of the ul */
ul li:nth-child(2n), ul li:nth-of-type(2n) {

}

/* select li impars of the ul */
ul li:nth-child(2n+1), ul li:nth-of-type(2n+1) {

}

/* select child element of the ul en three position */
ul > *:nth-child(3) {

}

/* select a p element with id "platano" */
p#platano {

}

/* a element with red class is always child */
.red:first-child {

}

/* select h2 element within a section */
section:focus-within(h2) {

}

/* select second child by a section element */
section > *:nth-child(2) {

}

/* select pars child by a ol element*/
ol > *:nth-child(2n) {

}

/* select before-last li of a ul element */
ul li:nth-last-child(3) {

}

/* select p element with green class and is direct child of the div */
div > p.green {

}

/* select a element is a div child and have word grande class atribuite */
div > a[class="grande"] {

}

/* the button is a child of the section */
section > button {

}

/* select button is a unique child */
button:only-child {

}

/* select span is first child of a p */
p:first-of-type(span) {

}

/* input element is a continous of the label and is child of the section */
section > label + input {

}

/* button have main a div */
div > button {

}

/* select a pe-last child of the body */
body > *:nth-last-child(2) {

}

/* select of label with mascote attribute */
label[for="mascota"] {

}

/* all img element have a clasec class and is in within div element */
div img.clasec {

}

/* all link within of the p */
p a {

}

/* all element has class a "curvado" */
.Curvado {

}

/* all element a and ol have a "recto" class */
a.Recto, ol.Recto {

}

/* all a element within of h2 element and within of div element */
div h2 a {

}

/* all child span within of a p and a div */
div p span > * {

}

/* all p element and all element with attribute class "aviso" within of the div */
div > p.aviso, *.aviso {

}

/* "em" element and "a" is direct child of the "p" element with id "Sons" */
p > em#Sons, a#Sons {

}

/* all a element container in .basico */
.basico a {

}

/* all element within p */
p * {

}

/* selector within of a p and within a div */
div p select {

}

/* select span is a child of the div */
p > span {

}

/* select a li element within of p and of the h1 */
h1 p li {

}

/* select all div with class transbox */
div.transbox {

}

/* all p within h1 */
h1 > *p {

}

/* all li element */
*li {

}

/* all p is a child of the h2 */
h2:nth-child(p) {

}

/* all p within of the a div */
div *p {

}

/* all a element within of the page */
*a {

}

/* all element within of the .libreConf class */
*.libreConf {

}

/* all element p wihin of h2 within of the div */
div h2 p {

}

/* all p element container in the id test1 */
*.p#test1 {

}

/* all a is child of the p and is within of the a div */
div p *a {

}

/* all h1 h2 h3 element wih class .libreConf */
*h1 h2 h3.libreConf {

}

/* select p element with id parrafo1 */
p#parrafo1 {

}

/* all child is p with id is child */
p > *#hijos {

}

/* all p element within of the div */
div *p {

}

/* all two first p */
p:nth-child(2n) {

}

/* all a element with blue class within a div element and contain id primero */
div#primero *a.azul {
    
}