/* element's "div" subelement by other div */
div:nth-child {

}

/* select subelement by "p" element */
p:nth-child {

}

/* select "p" staging within a article */
article:focus-within(p) {

}

/* select "h1" and "h3" element */
h1, h3 {

}

/* select "ol" element properly by body */
body:focus-within(ol) {

}

/* select element's with id "amarillo" */
#id["amarillo"] {

}

/* select "ul" element is of the body */
body:nth-of-type(ul) {

}

/* select "a" element is of the p */
p:nth-of-type(a) {

}

/* select element with id "platano" */
#id["platano"] {

}

/* all div element is brother a h2 element */
div + h2 {

}

/* all p element with "paisa" class, descendent's by a ul element */
ul > p[class="paisa"] {

}

header > h1, h2, h3[class="headertitle"] {

}