/* Part 1 */

/* Select div element is a child other div */
div > *div {

}

/* Select last element a group of the brother element */
li:last-of-type() + li:last-of-type() {

}

/* Select par child of the li element */
li:nth-child(2n) {

}

/* Select impar child of the li element */
li:nth-child(2n+1) {

}

/* Select p element is child of the article */
article:nth-child(p) {

}

/* Select p element is within of article */
article p {

}

/* Select title main core of h1 and h3 */
h1, h3 {

}

/* Select ol is within of body */
body ol {

}

/* The ul element is child of body */
body > ul {

}

/* The a element is child of p */
p > a {

}

/* The div element is descendent of body */
body div {

}

/* The first child of body */
body:first-child {

}

/* The last child of ul */
ul:last-child {

}

/* The first child of ul */
ul:first-child {

}

/* The li element pars of ul */
ul li:nth-of-type(2n) {

}

/* The li element impars of ul */
ul li:nth-of-type(2n+1) {

}

/* The ul child in 3 position */
ul:nth-child(3) {

}

/* A parraf with platano ID */
p#platano {

}

/* A element with rojo class is first child */
*:first-child[class="rojo"] {

}

/* Select h2 within section */
section h2 {

}

/* Select second child of the section element */
section:nth-child(2) {

}

/* Select child pars of ol element */
ol:nth-child(2n) {

}

/* Select third of last li of a ul with undefined long */
ul *:last-of-type(3) {

}

/* Select p with green class and direct child div */
div > p[class="green"] {
    
}